{% extends 'base.html.twig' %} {% block title %}Liste des Équipes{% endblock %}
{% block stylesheets %}
<!-- Ajouter votre fichier CSS ici -->
<link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
{% endblock %} {% block body %}
<div class="container">
    <h2>
        Liste des Équipes
        <a title="Créer une nouvelle équipe" href="{{ path('team_new') }}"
            ><i class="fa-solid fa-circle-plus"></i
        ></a>
    </h2>
    <!-- Bloc pour les messages flash -->
    {% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endfor %} {% if teams is empty %}
    <p>Aucune équipe trouvée.</p>
    {% else %}
    <div class="team-card-container">
        {% for team in teams %}
        <div class="team-card">
            <h3>{{ team.name }}</h3>
            <p><strong>Popularité :</strong> {{ team.popularity }}</p>
            <p><strong>Taux de Réussite :</strong> {{ team.successRate }}%</p>
            <p><strong>Taux d'Échec :</strong> {{ team.failRate }}%</p>
            <p><strong>Nombre de Héros :</strong> {{ team.hero | length }}</p>
            <div class="team-card-footer">
                <a href="{{ path('team_show', { id: team.id }) }}"
                    ><i class="fa-solid fa-eye"></i
                ></a>
                <a href="{{ path('team_edit', { id: team.id }) }}"
                    ><i class="fa-solid fa-pen"></i
                ></a>
                <form
                    action="{{ path('team_delete', { id: team.id }) }}"
                    method="post"
                    onsubmit="return confirmSuppression(event)"
                >
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('delete' ~ team.id) }}"
                    />
                    <button type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<script>
    // Fonction pour verification avant suppression
    function confirmSuppression(event) {
        // Affiche une boîte de dialogue de confirmation
        const confirmation = confirm(
            "Êtes-vous sûr de vouloir supprimer cette équipe ?"
        );

        // Si l'utilisateur clique sur "Annuler", on empêche l'envoi du formulaire
        if (!confirmation) {
            event.preventDefault();
        }
    }
</script>
{% endblock %}
