{% extends 'base.html.twig' %} {% block title %}Nos héros{% endblock %} {% block
stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
<link rel="stylesheet" href="{{ asset('styles/flashMessages.css') }}" />
{% endblock %} {% block body %}
<div class="container">
    <h2>
        Nos Héros
        <a href="{{ path('hero_new') }}">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </h2>
    <!-- Bloc pour les messages flash -->
    {% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="hero-card-container">
        {% for hero in heros %}
        <div class="hero-card">
            <img src="{{ hero.image }}" alt="{{ hero.name }}" />
            <h3>{{ hero.name }}</h3>

            <!-- Badge de l'équipe -->
            {% if hero.team %}
            <span class="team-badge">{{ hero.team.name }}</span>
            {% else %}
            <span class="team-badge no-team">Pas d'équipe</span>
            {% endif %}

            <p>
                <strong> Identité Secrète : </strong>
                {{ hero.secretIdendity ? hero.secretIdendity : "Inconnue" }}
            </p>
            <p>
                <strong> Âge : </strong>
                {{ hero.age ? hero.age : "Non précisé" }}
            </p>
            <p>
                <strong> Pouvoir : </strong>
                {{ hero.powerLink ? hero.powerLink.name : "Non défini" }}
            </p>
            <p>
                <strong> Taux de Succès : </strong>
                {{ hero.succesRate }}%
            </p>
            <p>
                <strong> Taux d'Échec : </strong>
                {{ hero.failRate }}%
            </p>
            <div class="hero-card-footer">
                <a href="{{ path('hero_show', { id: hero.id }) }}">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a href="{{ path('hero_edit', { id: hero.id }) }}">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <form
                    action="{{ path('hero_delete', { id: hero.id }) }}"
                    method="post"
                    onsubmit="return confirmSuppression(event)"
                >
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('delete' ~ hero.id) }}"
                    />
                    <button type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
        {% else %}
        <p>Aucun héros trouvé.</p>
        {% endfor %}
    </div>
</div>

<script>
    // Fonction pour verification avant suppression
    function confirmSuppression(event) {
        const confirmation = confirm(
            "Êtes-vous sûr de vouloir supprimer ce héros ?"
        );
        if (!confirmation) {
            event.preventDefault();
        }
    }
</script>
{% endblock %}
