{% extends 'base.html.twig' %} {% block title %}Nos heros{% endblock %}{% block
stylesheets %}
<!-- Add your custom stylesheets here -->
<link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
{% endblock %} {% block body %}
<div class="container">
    <h2>
        Nos Héros
        <a href="{{ path('hero_new') }}"
            ><i class="fa-solid fa-circle-plus"></i
        ></a>
    </h2>

    <div class="hero-card-container">
        {% for hero in heros %}
        <div class="hero-card">
            <img src="{{ hero.image }}" alt="{{ hero.name }}" />
            <h3>{{ hero.name }}</h3>
            <p>
                <strong> Identité Secrète : </strong>
                {{ hero.secretIdendity ? hero.secretIdendity : "Inconnue" }}
            </p>
            <p>
                <strong> Âge : </strong>
                {{ hero.age ? hero.age : "Non précisé" }}
            </p>
            <p>
                <strong> Pouvoir : </strong>
                {{ hero.powerLink ? hero.powerLink.name : "Non défini" }}
            </p>
            <p>
                <strong> Taux de Succès : </strong>
                {{ hero.succesRate }}%
            </p>
            <p>
                <strong> Taux d'Échec : </strong>
                {{ hero.failRate }}%
            </p>
            <div class="hero-card-footer">
                <a href="{{ path('hero_show', { id: hero.id }) }}">Voir</a>
                <a href="{{ path('hero_edit', { id: hero.id }) }}">Modifier</a>
                <form
                    action="{{ path('hero_delete', { id: hero.id }) }}"
                    method="post"
                >
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('delete' ~ hero.id) }}"
                    />
                    <button type="submit">Supprimer</button>
                </form>
            </div>
        </div>
        {% else %}
        <p>Aucun héros trouvé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
