{% extends 'base.html.twig' %} 
{% block title %}Liste des Missions{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
{% endblock %} 
{% block body %}
<div class="container">
    <h2>
        Liste des Missions
        <a title="Créer une nouvelle mission" href="{{ path('mission_new') }}">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </h2>

    {% if missions is empty %}
    <p>Aucune mission trouvée.</p>
    {% else %}
    <div class="team-card-container">
        {% for mission in missions %}
        <div class="team-card">
            <h3>{{ mission.name }}</h3>
            <p><strong>Description :</strong> {{ mission.description }}</p>
            <p><strong>Durée :</strong> {{ mission.durer }} jours</p>
            <p><strong>Status :</strong> {{ mission.status }}</p>
            <p>
                <strong>Date de Création :</strong> 
                {{ mission.createDate|date('d/m/Y H:i') }}
            </p>
            <p>
                <strong>Équipe :</strong> 
                {{ mission.team ? mission.team.name : 'Non assignée' }}
            </p>
            {# <div class="mission-card-footer">
                <a href="{{ path('mission_show', { id: mission.id }) }}">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a href="{{ path('mission_edit', { id: mission.id }) }}">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <form
                    action="{{ path('mission_delete', { id: mission.id }) }}"
                    method="post"
                    onsubmit="return confirmSuppression(event)"
                >
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('delete' ~ mission.id) }}"
                    />
                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                </form> #}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<script>
    // Fonction pour verification avant suppression
    function confirmSuppression(event) {
        // Affiche une boîte de dialogue de confirmation
        const confirmation = confirm(
            "Êtes-vous sûr de vouloir supprimer cette mission ?"
        );

        // Si l'utilisateur clique sur "Annuler", on empêche l'envoi du formulaire
        if (!confirmation) {
            event.preventDefault();
        }
    }
</script>
{% endblock %}
